.directory
/ExamManSys/nbproject/private/
/ExamManSysClient/nbproject/private/
/ExamManSys/build/
/ExamManSys/dist/
/ExamManSysClient/build/
/ExamManSysClient/dist/
/ExamManSysCommon/nbproject/private/
/ExamManSysCommon/build/
/ExamManSysCommon/dist/
/Exam Management System/nbproject/private/
/Exam Management System/build/
/Exam Management System/dist/
/Exam_Management_System_Client/Exam_Management_System_Client/target/
/Exam_Management_System_Client/Exam_Management_System_Client/js/target/
/Exam_Client/nbproject/private/
/Exam_Client/build/
/Exam_Client/dist/
