body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    padding: 10px 10px;
    margin-bottom: 10px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 57px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
nav .navbar-brand .green{
    color: #0f0
}
nav .navbar-brand .red{
    color: #f00
}
nav .navbar-brand .black{
    color: #000
}
nav .navbar-brand .white{
    color: #fff

}

.comment {
    background: #eeeeee;
    padding: 10px 10px;
}
.comment-img {
    height: 27px;
    width: 27px;
    margin-right: 8px;
}

.comment-metadata {
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.welcome-header {
    /*min-height: 50px;*/
    background-color: #28364f;
    /*padding-top: 15px;*/
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
}

.welcome{
    min-height: 780px;
    background-color: #0f2447;
    margin-top: 5px;
    padding-top: 45px;
    align-self: center;
    color: #0aa;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.site-footer .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-footer .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-footer .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-footer {
    position: static;
    bottom: 0;
    width: 100%;
}